.flex-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-content: space-between;
}


<div class="flex-container">
<div>Start</div>
<div>Middle</div>
<div>Finished</div>
</div>